<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlw.mapper.ArticleMapper">
    <!--动态sql-->
    <select id="list" resultType="com.wlw.pojo.Article">
        select * from article
        <where>
            <if test="userId!=null">
                create_user=#{userId}
            </if>
            <if test="categoryId!=null">
                and category_id=#{categoryId}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
        </where>
    </select>
    <!-- 添加文章 -->
    <insert id="add" parameterType="com.wlw.pojo.Article">
        insert into article(title, content, cover_img, category_id, create_user, state, create_time, update_time)
        values(#{title}, #{content}, #{coverImg}, #{categoryId}, #{createUser}, #{state}, now(), now())
    </insert>


    <!-- 根据id查询文章 -->
    <select id="findArticleById" resultType="com.wlw.pojo.Article">
        select * from article where id=#{id}
    </select>

    <!-- 修改文章 -->
    <update id="update" parameterType="com.wlw.pojo.Article">
        update article
        set title=#{title},
            content=#{content},
            cover_img=#{coverImg},
            state=#{state},
            category_id=#{categoryId},
            update_time=now()
        where id=#{id}
    </update>

    <!-- 删除文章 -->
    <delete id="delete">
        delete from article where id=#{id}
    </delete>
</mapper>